nav {
    background: #7A001B;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 10px;

    h2 {
        font-size: 1.7rem;
    }

    ul {
        display: flex;
    }

    li {
        margin-left: 25px;
    }

    a {
        font-size: 1.1rem;
    }
}