* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(238, 243, 245);
}

h2,
a,
.button {
    color: whitesmoke;
}

h2 {
    font-weight: 500;
}